
// Social
$service-color-gplus: #dd4c39;
$service-color-facebook: #3b559f;
$service-color-twitter: #00aced;
$service-color-linkedin: #007bb6;
$service-color-xing: #0f6667;
$service-color-instagram: #34638A;
$service-color-youtube: #e52d27;
$service-color-foursquare: #0CBADF;
$service-color-github: #fff;
$service-color-klout: #e67d69;
$service-color-javascript: #dd4c39;
$service-color-html5: #dd4c39;
$service-color-css3: #dd4c39;
